@model IEnumerable<ActivaPro.Application.DTOs.CategoriasDTO>

@{
    ViewData["Title"] = "Categorías";
}

<h1 class="mb-4">Categorías</h1>

<p>
    <a class="btn btn-primary mb-3" asp-action="Create">Crear Nueva Categoría</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Nombre Categoria</th>
            <th>SLA</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
          
                <td>@Html.DisplayFor(modelItem => item.nombre_categoria)</td>
                <td>@(item.SLA.Any() ? string.Join(", ", item.SLA) : "-")</td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.id_categoria }, new { @class = "btn btn-info btn-sm me-1" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_categoria }, new { @class = "btn btn-warning btn-sm me-1" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_categoria }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>