@model IEnumerable<ActivaPro.Application.DTOs.TecnicosDTO>

@{
    ViewData["Title"] = "Lista de Tecnicos";
}

<h1>Lista de Técnicos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CargaTrabajo)</th>
            <th>@Html.DisplayNameFor(model => model.Disponible)</th>
            <th>@Html.DisplayNameFor(model => model.Especialidades)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CargaTrabajo)</td>
                <td>@Html.DisplayFor(modelItem => item.Disponible)</td>
                <td>@Html.DisplayFor(modelItem => item.Especialidades)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdTecnico }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdTecnico }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdTecnico })
                </td>
            </tr>
        }
    </tbody>
</table>
